<ion-view view-title="About">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="card desh-atom-card-4 ">
      <div class="item item-divider">
        Developed By
      </div>
      <div class="item item-text-wrap">
        Deshan Madurajith
        <p>I think you cannnot read my name. So use my nick name <b>Desh Atom</b></p>
      </div>
    </div>

    <div class="card desh-atom-card-4 animated fadeIn">
      <div class="item item-divider">
        Thanks
      </div>
      <div class="item item-text-wrap">
        <h3>Ionic Framework Developers</h3>
        <h3>Angular Framework Developers</h3>
        <h3>Ionic M-Generator</h3>
        <h3>Google (helped me to serach)</h3>
        <h3>flaticon.com (for icons)</h3>
      </div>
      <div class="item item-divider">
        Need more
      </div>
      <div class="item item-text-wrap">
        <button class="button button-small button-full button-outline button-stable">
          Find More in ionic market
        </button>


        <button class="button button-small button-full  button-outline button-stable">
          Find More in My Youtube Channel
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>
