<ion-view view-title="Reg" cache-view="false" hide-nav-bar="true" class="auth-bg background-reg">
  <button class="button  top-btn" ng-click="viewLogin()"> Login</button>
  <div class="auth">
    <div class="container animated fadeInUp">

      <div class='logo'> 
        <img class='resize_fit_center' src='img/icon.png' />
      </div>
      <div class='welcome-text'>Welcome to Kolliseum</div>
      <div class='social-buttons'>
        <button class="button  button-full button-positive fb  ion-social-facebook"> SignUp With Facebook</button>
      </div>
    </div>
  </div>
</ion-view>
