<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content class="desh-atom">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-calm">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu class="desh-atom" side="left" expose-aside-when="large">

    <!-- menu content -->
    <ion-content>
      <ion-list>

        <ion-item menu-close class="menu-avatar desh-atom-card-4" ui-sref="main.profile">
          <img class="desh-atom-card-12" style="float:left" src="{{user.photoURL}}" height="80" />
          <span>{{user.name}}</span>
        </ion-item>

        <ion-item class="item item-icon-left menu-li" menu-close ui-sref="main.home">
          <i class="icon ion-ios-home-outline"> </i> Home
        </ion-item>

        <ion-item class="item item-icon-left" menu-close ui-sref="main.messages">
          Messages
          <i class="icon ion-ios-chatboxes-outline"></i>
        </ion-item>

        <!--<ion-item class="item item-icon-left " menu-close ui-sref="main.settings">
          Settings
          <i class="icon ion-settings"></i>
        </ion-item> -->
        
        <ion-item class="item item-icon-left" menu-close ui-sref="main.about">
          About
          <i class="icon ion-information-circled"></i>
        </ion-item>         
        <ion-item class="item item-icon-left" menu-close ui-sref="main.logout" >
          Logout
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
